@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: "Raleway";
  color: #0a0a0a;
  margin-left: 100px;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}

li {
  list-style-type: none;
}

/*logo*/

header {
  align-items: center;
  max-width: 1440px;
}
h1 {
  font-size: 29px;
  font-weight: bold;
}

.paragex {
  font-size: 20px;
}
/*Navigation*/

nav {
  display: flex;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex: auto;
  margin-top: 0;
}

nav li {
  margin-top: 0;
}

nav a {
  font-size: 17px;
  padding: 32px;
  display: block;
  border-top: 2px solid white;
}

nav li a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/*Barre de recherche*/

form {
  padding-left: 20px;

  border-radius: 10px;

  border: 1px solid #f2f2f2 10px;
  width: 425px;
  background-color: #f2f2f2;
}

#barre_recherche {
  height: 50px;
  width: 235px;
  border: 0px;
  margin-left: 20px;
  outline: none;
  font-weight: bold;
}

.bouton {
  height: 51px;
  width: 137px;
  margin-left: -10px;
  background-color: #276bf2;
  color: white;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0px;
}

/*filtres*/
#filtres {
  display: flex;
  align-items: center;
}

#filtres ul {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}

#filtres li {
  border: 2px solid #f2f2f2;
  border-radius: 48px;
  font-weight: bold;
  cursor: pointer;
  padding-right: 25px;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

#filtres li i {
  background-color: #deebff;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  color: #0065fc;
  font-weight: bold;
  font-size: 21px;
  padding: 13px;
}

#filtres li span {
  margin-left: 16px;
}

#filtres li:hover {
  background-color: #f2f2f2;
}

/*informations*/

.informations {
  display: flex;
  align-items: center;
  margin: 16px 0px 32px 0px;
}
.informationsIcone {
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  border: solid 1px #deebff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  color: #0065fc;
  font-weight: bold;
}

/*Carte Heberments MArseille*/

.hebergementsCartes {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 6fr 3fr;

  margin-top: 20px;
  margin-right: 150px;
}

.hostingMain {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  column-gap: 30px;
  row-gap: 33px;
}

.hostingMain {
  background-color: #f2f2f2;
  width: max-content;
  border-radius: 24px;
  padding: 32px;
}

.cardHeader {
  display: block;
  grid-column: 1/-1;
  padding-top: 0px;
}

h2 {
  display: block;
  font-size: 24px;
  margin-block-start: 13px;
  margin-block-end: 13px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.cardBody {
  background-color: white;
  padding: 6px;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
  box-sizing: border-box;
  width: 255px;
  height: 202px;
}

.cardBodyfigure {
  margin: 0;
}

figure {
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.cardImg {
  height: 112px;
  object-fit: cover;
  max-width: 100%;
  width: 244px;
  max-height: 100%;
  border-radius: 16px 16px 0 0;
}

img {
  border-style: none;
}

figcaption {
  display: block;
}

.cardTitle {
  margin-top: 5px;
  margin-left: 15px;
}

.cardPrix {
  margin-top: -10px;
  margin-left: 15px;
}

p {
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  display: block;
}

.stars {
  margin-top: -10px;
  margin-left: 15px;
}

.fa-star {
  color: #f2f2f2;
}

.fa-star.blue {
  color: #0065fc;
}

.cardVoirPlus {
  font-weight: bold;
}

/*Card Les plus populaires*/

.hebergementsPopulairesclass {
  display: grid;
  row-gap: 30px;
  grid-template-rows: auto repeat(3, 1fr);
  background-color: #f2f2f2;
  border-radius: 24px;
  width: 549px;
  padding: 32px;
  margin-right: 190px;
}

.hebergementsPopulairesTitre {
  margin: 0px;
  margin-bottom: 30px;
  display: flex;
}

.hebergementsPopulaires {
  background-color: white;
  padding: 6px;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
  box-sizing: border-box;
}

.hebergementsPopulairesLiens {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}

.hebergementsPopulairesLiensDiv {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}

.hebergementsPopulairesImg {
  border-radius: 16px 0 0 16px;
  position: absolute;
  width: 130px;
  height: 100%;
  object-fit: cover;
}

.hebergementsTitre {
  font-weight: bold;
  width: max-content;
  margin-top: 3px;
  margin-bottom: 0px;
}

.cardPrix2 {
  width: max-content;
  margin-top: 3px;
}

.notes {
  margin-top: 64px;
}

/*Activites Marseille*/

.activitesMarseille {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 224px 32px 32px 32px 224px;
  display: grid;
  column-gap: 32px;
  margin: 64px 0;
  width: 1475px;
}

.activitesTitre {
  grid-column: 1/-1;
}

.cartesActivites {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cartesActivites1 {
  grid-row: 2/7;
  grid-column: 1/2;
}

.cartesActivitesDiv {
  position: relative;
  flex: 1;
}

.cartesActivitesImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cartesActivitesTitre {
  margin: 19px 24px;
}

.cartesActivites2 {
  grid-column: 2/3;
  grid-row: 2/5;
}

.cartesActivites3 {
  grid-column: 3/4;
  grid-row: 2/7;
}

.cartesActivites4 {
  grid-column: 4/5;
  grid-row: 2/4;
}

.cartesActivites5 {
  grid-column: 2/3;
  grid-row: 6/7;
}

.cartesActivites6 {
  grid-column: 4/5;
  grid-row: 5/7;
}

/*Pied de page*/

footer {
  background-color: #f2f2f2;
  width: auto;
  height: 263px;
  margin-left: -100px;
}
footer ul {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 150px;
  margin-bottom: 86px;
}

#footerNav {
  display: flex;
}

footer li {
  margin-top: 21px;
}

.titre1 {
  font-weight: bold;
  font-size: 19px;
}
