@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

/*Pour tabelette*/

@media (min-width: 768px) and (max-width: 1440px) {
  /*naviation*/

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav li {
    padding: 32px;
    margin-top: -73px;
  }

  nav a {
    font-size: 17px;
    padding-top: 96px;
  }

  /*barre de rechercher*/

  form {
    width: max-content;
  }

  #loupe {
    display: none;
  }

  /*Filtres*/

  .filtres {
    display: flex;
    flex-wrap: wrap;
  }

  /*Infromations*/

  .informations {
    display: flex;
    align-items: center;
    margin: 16px 0px 0px;
  }
  .informationsIcone {
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    border: solid 1px #deebff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    color: #0065fc;
    font-weight: bold;
  }

  /*Card Hebergements Marseille*/

  .hebergementsCartes {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    display: grid;
  }

  .hostingMain {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }

  /*Les plus populaires*/

  .hebergementsPopulairesclass {
    column-gap: 32px;
    grid-row-start: 1;
    margin-right: 0px;
    width: auto;
  }

  .hebergementsPopulairesLiens {
    height: 170px;
  }

  .liensCartes {
    grid-column: 1/-1;
  }

  .hebergementsPopulairesImg {
    width: 200px;
  }

  .hebergementsPopulairesTitre {
    margin-bottom: 0px;
  }

  .hebergementsTitre {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .cardPrix2 {
    margin-left: 20px;
  }

  .notes {
    margin-top: 80px;
    margin-left: 20px;
  }

  /*Activites Marseille*/

  .activitesMarseille {
    width: auto;
    margin-right: 120px;
  }

  .activitesTitre {
    margin-bottom: 20px;
  }

  /*Pied de page*/

  footer ul {
    justify-content: space-around;
    margin-right: 0px;
  }
}
